/Tests/DataTests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_DataTests
/Tests/DomainTests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_DomainTests
/Tests/PresentationTests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_PresentationTests
/Tests/DataTests/bin/Debug/net9.0/CoverletSourceRootsMapping_DataTests
/Tests/DomainTests/bin/Debug/net9.0/CoverletSourceRootsMapping_DomainTests
/Tests/PresentationTests/bin/Debug/net9.0/CoverletSourceRootsMapping_PresentationTests
/Presentation/obj/rider.project.model.nuget.info
/Presentation/obj/
/Domain/obj/
/Data/obj/
/Tests/DataTests/obj/
/Tests/DomainTests/obj/
/Tests/PresentationTests/obj/
